body {
    background-color: #FFFFFF;
    font-family: Nunito;
}

.header-nav {
    background-color: #444444;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.nav-logo img {
    height: 30px;
    width: auto;
    background-color: #333333
}

nav {
    position: absolute;
    background-color: #444444;
}

nav a {
    color: #FFFFFF;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.header-nav {
    display: block;
    color: #FFFFFF;
    text-decoration: none;
    padding: 15px 20px;
}

.hero-image img {
    height: 300px;
    width: auto;
}

.hero-image-aboutus img {
    height: 500px;
    width: auto;
}

.coming-soon img {
    height: 500px;
    width: auto;
}

.join-and-plant-image img {
    height: 200px;
    width: auto;
}

.our-team-image img {
    height: 200px;
    width: auto;
}

footer {
    background-color: #EAE993;
    padding: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-logo img {
    height: 30px;
    width: auto;
}